.logo_img {
  margin-right: 10px;
}

.logo_title {
  padding-top: 10px;
}

.footer-color {
  background-color: #EFEFEF;
}

.nav-bg-color {
  background-color: #60B5BC;
}

.sign {
	text-align: right;
}

.sign-up, .sign-in {
	text-decoration: none;
}

.ag {
  background-color: white !important;
  color: #6C757D;
  padding: 5px 13px  !important;
  border-radius: 0.3rem;
  border: 1px solid #E8E8E8;
}

.ag:hover {
  color: #60B5BC;
}

.search {
	margin-left: 10px !important;
}

.text-start {
	text-align: left;
}

.shareBtn {
	background-color: #E9ECEF;
}
